#!/usr/bin/env bash

# {{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/scripts-library") }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

not_during_test c apt update
not_during_test c apt upgrade -y
not_during_test c apt dist-upgrade -y
not_during_test c apt autoremove -y